version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: bakery_db_2_semester
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
      POSTGRES_DB: bakery_db_2_semester
    ports:
      - "5438:5432"                     
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d bakery_db_2_semester"]
      interval: 5s
      timeout: 5s
      retries: 5

  flyway:
    image: flyway/flyway:latest
    container_name: flyway_migrations
    command: -url=jdbc:postgresql://postgres:5432/bakery_db_2_semester -user=admin -password=adminpass migrate   
    volumes:
      - ./sql:/flyway/sql   
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"

volumes:
  postgres_data: